:root {
    --cor-azul: #2f337e;
    --cor-amarela: #ecdd12;
    --cor-verde: #a5bd3d;
    --cor-preta: #424242;
    --cor-azul-escuro: #090F2A;
}

body{
    background-color: white;
    color: #424242;
    font-weight: 400;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


h1, h2, h3{
  font-weight: bold;
  color: white;
}

.hero-section{
    width: 100%;
    height: 80vh;
    align-items: center;
    display: flex;
    background-color: #2f337ed2;
    position: relative;
}

.hero-section img{
    height: 40px;
    width: auto;
}

.hero-section::before{
    background-image: url('../img/campus.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
    content: "";
    z-index: -1;
    inset: 0;
    position: absolute;
}

 .hero-section p{
    color: white;
    font-weight: bolder;
}

.hero-section h1{
    color: var(--cor-amarela);
}

.cursos .card{
    font-size: 14px;
    width: auto;
    height: 400px;
    margin: 10px;
    border-radius: 25px;
    background: #fff;
    box-shadow: 15px 15px 25px #bebebe,
             -15px -15px 25px #ffffff;
}

.card-img-top{
    height: auto;
    width: auto;
    border-radius: 25px 25px 0px 0px;
}

.btn{
    background-color: var(--cor-amarela);
    color: var(--cor-azul);
    border-color: var(--cor-amarela);
    font-weight: bold;
    font-size: 15px;
}

.btn:hover{
    transform: scale(1.05);
    background-color: var(--cor-amarela);
    color: var(--cor-azul);
    border-color: var(--cor-amarela);
}

.navbar{
    background-color: var(--cor-azul);
    height: 85px;
}

.dropdown-menu, .dropdown-item:hover{
    background-color: var(--cor-azul);
}

.navbar a, .navbar a::after{
    color: white;
}

.navbar a:hover{
    color: var(--cor-amarela);
}

.indicadores{
    margin: 80px 0px;
}

.card-title{
    color: var(--cor-azul);
    font-weight: 700;
}

form{
    border: solid 3px var(--cor-azul);
    background-color: var(--cor-azul);
    color: white;
    border-radius: 25px;
    padding: 35px;
    font-weight: 500;

}


.indicadores .card{
 border: none;
 border-radius: 20px;
 background-color: var(--cor-azul);
 color: white;
 text-transform: uppercase;
 font-weight: bold;
 font-size: 15px;
}

.indicadores .card h3{
    color: white;
}


form .btn{
    width: 50%;
}

footer{
    background-color: var(--cor-azul);
    color: white;
}

footer p, a{
    font-size: 14px;
    font-weight: 400;
}

.p-rights{
    font-size: 11px;
    opacity: 0.7;
}
footer h7{
    opacity: 0.7;
}

.img-icon-social{
    margin-right: 5px;
    opacity: 0.7;
}

